<div class="container top-page-container">
	<div class="col-xs-12 ">
		<div class="row">
			<% @projects.each do |project| %>
				<div class="col-xs-3">
					<div class="box-in" style="margin-bottom: 20px;">
						<div class="box-thumbnail" >
							<%= attachment_image_tag project, :advertising_image, :limit, 300, 300, size: "280x220", fallback: "no_image.png" %><br>
						</div>
						<div class="box-info">
							<div class="box-title">
								<span>  <%= link_to project.project_title, project_path(project.id) %></span>
							</div>
							<div class="box-status">
								<span>
									<small>現在</small><%= project.total_support.to_i.to_s(:delimited) %>円
								</span>
								<span>
									<small>支援者</small><%= project.number_of_supporters %>人
								</span>
								<span>
									<% if (project.deadline - Date.today).to_i >= 0 %>
									<small>残り</small><%= (project.deadline - Date.today).to_i %>日
									<% else %>
									<th>掲載終了</th>
									<% end %>
								</span>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="row" style="margin: 20px 0;">
		  <div class="col-12" style="text-align: center;">
		    <h1 class="Owners" style="color: black; font-size: 50px;">Ownersとは</h1>
		  </div>
		</div>

		<div class="row h-auto">
		  <div class="col-12 col-sm-4" style="text-align: center; ">
		    <i class="fa fa-user-circle fa-5x" style="margin: 20px 0;"></i>
		    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">プロジェクトオーナー</strong></p>
		    <p>プロジェクトを投稿することができます。</br>
		    あなたの思いを発信しましょう。</br>
		    あなたの思いに共感した人から支援を受けられます。
		  </div>
		  <div class="col-12 col-sm-4" style="text-align: center; ">
		    <i class="far fa-handshake fa-5x" style="margin: 20px 0;"></i>
		    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">繋がる</strong></p>
		    <p>Ownersは皆がオーナーになり</br>
		    お気に入りのお店を守ろうという</br>
		    コンセプトのアプリケーションです。
		  </div>
		  <div class="col-12 col-sm-4" style="text-align: center; ">
		    <i class="fa fa-users fa-5x" style="margin: 20px 0;"></i>
		    <p><strong style="font-size: 25px; border-bottom: solid 3px red;">支援者</strong></p>
		    <p>あなたの身近なお店を支援できます。</br>
		    プロジェクトオーナーの力になりましょう。</br>
		    あなたの支援でお店を守ることができます。
		  </div>
		</div>
	</div>
</div>




