<div class="container">
	<div class="col-xs-12 ">
		<div class="row">
			<% @projects.each do |project| %>
				<div class="col-xs-3">
					<div class="box-in">
						<div class="box-thumbnail">
							<%= attachment_image_tag project, :advertising_image, :limit, 300, 300, size: "285x210", fallback: "no_image.png" %><br>
						</div>
						<div class="box-info">
							<div class="box-title">
								<span>  <%= link_to project.project_title, project_path(project.id) %></span>
							</div>
							<div class="box-status">
								<span>
									<small>現在</small><%= project.total_support.to_i.to_s(:delimited) %>円
								</span>
								<span>
									<small>支援者</small><%= project.number_of_supporters %>人
								</span>
								<span>
									<% if (project.deadline - Date.today).to_i >= 0 %>
									<small>残り</small><%= (project.deadline - Date.today).to_i %>日
									<% else %>
									<th>掲載終了</th>
									<% end %>
								</span>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>




