<div class="projects-index-container">
	<div class="row">
		<div class="col-xs-2" >
			<table class="table table-bordered">
			<p>検索</p>
			<%= form_tag(projects_path,:method => 'get') do %>
			  <%= text_field_tag :search %>
			  <%= submit_tag 'Search', :name => nil %>
			<% end %>
				<thead>
					<tr>
						<th>地域検索</th>
					</tr>
				</thead>
				<tbody>
					<% @areas.each do |area| %>
						<tr>
							<td>
								<%=link_to area.prefecture_name, projects_path(area_id: area.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>


	<div class="col-xs-10 ">
				<h3>プロジェクト一覧 (全<%= @projects.count %>件)</h3>
			<div class="container">
				<div class="item">
				<% @projects.each do |project| %>
					<div class="col-xs-3">
						<div class="box-in" style="margin-bottom: 20px;">
							<div class="box-thumbnail" >
								<%= attachment_image_tag project, :advertising_image, :limit, 300, 300, size: "280x220", fallback: "no_image.png" %><br>
								<div class="box-title">
									<span>  <%= link_to project.project_title, project_path(project.id) %></span>
								</div>
								<div class="box-status">
									<span>
										<p>現在</p><p><%= project.total_support %>円</p>
									</span>
									<span>
										 <% if (project.deadline - Date.today).to_i >= 0 %>
										<p>残り</p><p><%= (project.deadline - Date.today).to_i %>日</p>
										<% else %>
										<th>終了</th>
										<% end %>
									</span>
									<span>
										<p>支援者</p><p><%=project.support_projects.count %>人</p>
									</span>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



