<div class="projects-index-container">
	<div class="row">
		<div class="col-xs-2" >
			<table class="table table-bordered">
			<p>タイトル検索</p>
			<%= form_tag(projects_path,:method => 'get') do %>
			  <%= text_field_tag :search %>
			  <%= submit_tag '検索', :name => nil %>
			<% end %>
				<thead>
					<tr>
						<th>地域検索</th>
					</tr>
				</thead>
				<tbody>
					<% @areas.each do |area| %>
						<tr>
							<td>
								<%=link_to area.prefecture_name, projects_path(area_id: area.id) %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>


	　　<div class="col-xs-10 ">
			<h3>プロジェクト一覧 (全<%= @projects.count %>件)</h3>
				<div class="row">
				<% @projects.each do |project| %>
					<div class="col-xs-3">
						<div class="box-in" style="margin-bottom: 20px;">
							<div class="box-thumbnail" >
								<%= attachment_image_tag project, :advertising_image, :limit, 300, 300, size: "280x220", fallback: "no_image.png" %><br>
								<div class="box-info">
									<div class="box-title">
										<span>  <%= link_to project.project_title, project_path(project.id) %></span>
									</div>
									<div class="box-status">
										<span>
											<small>現在</small><%= project.total_support.to_i.to_s(:delimited) %>円
										</span>
										<span>
											<small>支援者</small><%=project.support_projects.count %>人
										</span>
										<span>
											<% if (project.deadline - Date.today).to_i >= 0 %>
											<small>残り</small><%= (project.deadline - Date.today).to_i %>日
											<% else %>
											<th>終了</th>
											<% end %>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


