<div class="container">
  <h3>プロジェクト編集</h3>

  <div class="row">
    <%= form_for(@project, url: new_project_path) do |f| %>

      <div class="form-group col-xs-9">
        <%= f.label :target_amount, '目標金額', class: "col-xs-3" %>
        <div class="col-xs-4">
          <%= f.number_field :target_amount, placeholder: "（例）100000", class: "form-control"  %>円
        </div>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :project_title, "タイトル", class: "col-xs-3" %>
        <div class="col-xs-4">
          <%= f.text_field :project_title, placeholder: "あなたの気持ちをタイトルにしてください", class: "form-control"  %>
        </div>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :summary_sentence, '概要文', class: "col-xs-3" %>
        <div class="col-xs-6">
          <%= f.text_area :summary_sentence, placeholder: "3行程度で概要をまとめましょう", class: "form-control"  %>
        </div>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :area_id, "地域", class: "col-xs-3" %>
        <div class="col-xs-4">
          <%= f.collection_select :area, @areas, :id, :prefecture_name, placeholder: "選択してください", class: "form-control"  %>
        </div>
      </div>


      <div class="form-group col-xs-9">
        <%= f.label :text, "本文", class: "col-xs-3" %>
        <div class="col-xs-4">
          <%= f.text_area :text, placeholder: "******", class: "form-control" %>
        </div>
      </div>

      <div class="form-group col-xs-9">
        <%= f.label :advertising_image_id, "メイン画像", class: "col-xs-4" %>
        <%= attachment_image_tag @project, :id, :fill, 200, 150, fallback: "no_image.png" %>
        <%= f.attachment_field :advertising_image_id %>
      </div>

      <div class="actions">
        <%= f.submit "プロジェクト登録する", class: "btn btn-success col-xs-2 col-xs-offset-5" %>
      </div>
    <% end %>
  </div>