<div class="container">
<div class="row">
  <div class="text-center"　data-gr-c-s-loaded="true"　>
  <h4>支援者の方はこちらからログイン</h4>
</div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.label :メールアドレス, class: "col-xs-3 col-xs-offset-3" %>
    <div class="form-group row">
      <div class="col-xs-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class: "form-control" %>
      </div>
    </div>

    <%= f.label :パスワード, class: "col-xs-3 col-xs-offset-3" %>
    <div class="form-group row">
      <div class="col-xs-3">
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
</div>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "＝＞パスワードを忘れた方はこちらから", new_password_path(resource_name), class: "col-xs-3 col-xs-offset-6" %><br />
<% end %>

<div class="actions">
  <%= f.submit "ログイン", class: "btn btn-success col-xs-2 col-xs-offset-5" %>
</div>
<% end %>
<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    <h4>登録がお済みで無い方はこちら</h4>

    <span><%= render "supporters/shared/links" %></span>
  </div>
</div>
</div>
