<nav class="navbar navbar-dark" style="padding: 10px 10px; background-color:white;　">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white;">
      <%= link_to root_path do %>
      <h1 style="border; :1px; padding: 10px 30px; color: #333333;">Owners</h1>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
            <% if admin_signed_in? %>
              <li>お疲れ様です</li>
              <li><%= link_to 'ポイント購入一覧', buy_points_path, :style=>"color: #333333;" %></li>
              <li><%= link_to '支援者一覧', supporter_path, :style=>"color: #333333;" %></li>
              <li><%= link_to '事業者一覧', owner_path, :style=>"color: #333333;" %></li>
              <li><%= link_to 'プロジェクト一覧', projects_path, :style=>"color: #333333;" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, :style=>"color: #333333;" %></li>
        <div class="row">
              <label for="text3" id="l_text3"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
         <input id="text3" type="text" placeholder="キーワード検索">
         <div class="text_underline"></div>
              </form></td>
            <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>

