<nav class="navbar navbar-dark" style="padding: 10px 10px; background-color:white;　">
  <div class="container-fluid">
    <div class="navbar-header" style="color: white;">
      <%= link_to root_path do %>
      <h1 style="border; :1px; padding: 10px 30px; color: #333333;">Owners</h1>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right" style="font-size: 15px;">
          <% if supporter_signed_in? %>

          <li>ようこそ<%= current_supporter.surname %><%= current_supporter.name %>さん！</li>
          <li><%= current_supporter.point_historys.all.sum(:point) %>P</li>

          <li><%= link_to 'プロジェクトを見る', projects_path, :style=>"color: #333333;" %></li>
          <li><%= link_to 'マイページへ', supporter_path, :style=>"color: #333333;" %></li>
          <li><%= link_to 'プロフィール編集', edit_supporter_path, :style=>"color: #333333;" %></li>
          <li><%= link_to 'ログアウト', destroy_supporter_session_path, method: :delete, :style=>"color: #333333;" %></li>
          <li><%= link_to 'ポイント履歴確認', point_historys_path, :style=>"color: #333333;" %></li>
          <li><%= link_to 'ポイント購入', new_buy_point_path, :style=>"color: #333333;" %></li>
          <% else %>
          <%= render "layouts/home_header" %>
          <% end %>
      </ul>
    </div>
  </div>
</nav>

