<<!DOCTYPE html>
<html>
  <head>
    <title>Owners</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_header' %>
        <% elsif owner_signed_in? %>
        <%= render "layouts/owner_header" %>
        <% elsif supporter_signed_in?%>
        <%= render "layouts/supporter_header" %>
        <% else %>
        <%= render "layouts/home_header" %>
      <% end %>



        <div class="container">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>


      <%= yield %>

      <%= render 'layouts/footer' %>



  </body>
</html>
